@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  scroll-behavior: smooth;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Franklin Gothic Heavy-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6025ba75fbfaa306016a466c/fonts/framdit.ttf")
    format("truetype");
}

@font-face {
  font-family: "Franklin Gothic Heavy-Italic";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6025ba75fbfaa306016a466c/fonts/framdit.ttf")
    format("truetype");
}

@font-face {
  font-family: "Franklin Gothic Demi-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6025ba75fbfaa306016a466c/fonts/framd.ttf")
    format("truetype");
}

@font-face {
  font-family: "Franklin Gothic Book-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/64e304a72fd2ed85515d1fe3/fonts/franklin-gothic-book-regular.ttf")
    format("truetype");
}
